*,  *:before,  *:after  {
    -moz-box-sizing:  border-box;
    -webkit-box-sizing:  border-box;
    box-sizing:  border-box;
}
@keyframes animatedBackground  {
    from  {
    background-position:  0 0;
}
to  {
    background-position:  100% 0;
}
}
form  {
    max-width:  800px;
    margin:  10px auto;
    padding:  20px 20px;
    background:  #f4f7f8;
    border-radius:  8px;
}

a{
	color:#fff;
	font-weight:400;
	text-decoration:none;
	font-size:26px;
}

h1  {
    margin:  0 0 30px 0;
    text-align:  center;
}
input[type="text"],  input[type="password"],  input[type="date"],  input[type="datetime"],  input[type="email"],  input[type="number"],  input[type="search"],  input[type="tel"],  input[type="time"],  input[type="url"],  textarea,  select  {
    background:  rgba(255, 255, 255, 0.1);
    border:  none;
    font-size:  16px;
    height:  auto;
    margin:  0;
    outline:  0;
    padding:  15px;
    width:  100%;
    background-color:  #e8eeef;
    color:  #8a97a0;
    box-shadow:  0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom:  30px;
}
input[type="radio"],  input[type="checkbox"]  {
    margin:  0 4px 8px 0;
}
select  {
    padding:  6px;
    height:  32px;
    border-radius:  2px;
}
button  {
    padding:  19px 39px 18px 39px;
    color:  #FFF;
    background-color:  #f55f5f;
    font-size:  18px;
    text-align:  center;
    font-style:  normal;
    border-radius:  5px;
    width:  100%;
    border:  1px solid #f55f5f;
    border-width:  1px 1px 3px;
    box-shadow:  0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom:  10px;
}
fieldset  {
    margin-bottom:  30px;
    border:  none;
}
legend  {
    font-size:  1.4em;
    margin-bottom:  10px;
}
label  {
    display:  block;
    margin-bottom:  8px;
}
label.light  {
    font-weight:  300;
    display:  inline;
}
.number  {
    background-color:  #f55f5f;
    color:  #fff;
    height:  30px;
    width:  30px;
    display:  inline-block;
    font-size:  0.8em;
    margin-right:  4px;
    line-height:  30px;
    text-align:  center;
    text-shadow:  0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius:  100%;
}
@media screen and (min-width: 480px)  {
    form  {
    max-width:  480px;
}
}

.update {
    max-width: 200px;
}

.center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#Update {
    background-color: green;
    border:  1px solid green;
}





table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

.request {
    font-size: 15px;
}

.accept {
   background-color: green;
   border:  1px solid green;
   font-size: 15px;
}
/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}